extends layout

block content
    h1= title
        if (user)
            p Welcome Back #{user.username}

            if (!user.isMember)
                p
                    a(href='/user/membership') Become a Member
            p
                a(href='/message/create') Post a New Message

        div
            each message in messages
                hr
                div
                    p #[strong !{message.title}]
                    p #{message.message}

                    if (user && (user.isMember || user.isAdmin))
                        p #{message.user.username}

                    p #{message.postDate_formatted}

                    if (user && user.isAdmin)
                        p
                            a(href=(message.url+'/delete'))
                                button Delete


