extends layout

block content
    div
        div.page-info
            div.page-title
                if (user)
                    h1.page-explanation Welcome Back #{user.username}

                    if (!user.isMember && !user.isAdmin)
                        h2.page-explanation
                            a(href='/user/membership') Become a Member
                    h2.page-explanation
                        a(href='/message/create') Post a New Message
                else 
                    h2.page-explanation Signup to make posts.
                    h2.page-explanation Become a member to see usernames on posts.

        div.message-list
            div
                each message in messages
                    div.message-container
                        div.message-content
                            h2.message-title #[strong !{message.title}]
                            p #{message.message}

                        div.message-info
                            if (user && (user.isMember || user.isAdmin))
                                p #[strong !{message.user.username}]

                            p #{message.postDate_formatted}

                        div.message-controls
                            if (user && user.isAdmin)
                                a(href=(message.url+'/delete'))
                                    button.delete-button Delete
