extends layout

block content
    div
        h1 Members Only!

    div
        div
            if (user)
                p Welcome Back #{user.username}

                if (!user.isMember && !user.isAdmin)
                    p
                        a(href='/user/membership') Become a Member
                p
                    a(href='/message/create') Post a New Message
            else 
                p Signup to make posts.
                p Become a member to see usernames on posts.

        div
            each message in messages
                hr

                div
                    p #[strong !{message.title}]
                    p #{message.message}

                    if (user && (user.isMember || user.isAdmin))
                        p #{message.user.username}

                    p #{message.postDate_formatted}

                    if (user && user.isAdmin)
                        p
                            a(href=(message.url+'/delete'))
                                button Delete


