extends layout

block content
    div.page-info
        div.page-title
            h1 Delete Message

        div.message-container
            div.messag-content
                h2.message-title #[strong !{message.title}]
                p #{message.message}
           
            div.message-info
                p #[strong !{message.user.username}]
                p #[strong !{message.postDate_formatted}]

        div
            p #[strong Are You Sure You Want to Delete This Message?]

        form(method='POST' action='')
            div.form-controller
                input(type='hidden', name='id', required='true', value=message._id)

            button.delete-button(type='submit') Delete

        div.link
            p
                a(href=('/')) #[strong Return to Homepage]
